// Color changing text animation
@keyframes hue {
  from {
    @include filter(hue-rotate(0deg));
  }
  to {
    @include filter(hue-rotate(-360deg));
  }
}

//  Bouncing annimation for down arrow
@keyframes bouncing {
    0% {bottom: 0.5rem;}
    50% {bottom: 1.25rem;}
    100% {bottom: 0.5rem;}
}