// Colored buttons for project cards
#url-shortener-btn {
  background-color: #FE993A;
}
#geodeals-btn {
  background-color: #FD55CD;
}
#groceryquest-btn {
  background-color: #905FFF;
}
#wikibooks-btn {
  background-color: #398BFF;
}
#tip-calc-btn {
  background-color: #25DFB1; 
}
#robot-btn {
  background-color: #35A608;
}

// External link icon
a.card-title {
  font-weight: 300;
  i {
    font-size: 65%
  }
}