// Colored buttons
// Note: The card in each .row with the longest .modal-body content will have relative position,
// all other cards should be given absolute position and a bottom value to move their buttons to 
// the bottom of their cards (19px represents the approx padding bottom on the buttons)
// See _media.css for these width-specific modifications 
#url-shortener-btn {
  background-color: #FE993A;
}
#geodeals-btn {
  background-color: #FD55CD;
}
#groceryquest-btn {
  background-color: #905FFF;
}
#wikibooks-btn {
  background-color: #398BFF;
}
#tip-calc-btn {
  background-color: #25DFB1; 
}
#robot-btn {
  background-color: #35A608;
}

// External link icon
a.card-title {
  font-weight: 300;
  i {
    font-size: 65%
  }
}