/* Small devices (landscape phones, width: 576px and up) */
@media (min-width: 576px) {  
  #name-and-description {margin-left: 2rem;}
  #education {
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.25rem;
    }
    img {
      height: 15.5rem;
    }
    &>div {
    padding: 2rem;
    }
  }
  // For some reason mb-sm-0 isn't working
  #exp-scale { margin-bottom: 0 !important; }
}
 
/* Medium devices (tablets, width: 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #name {font-size:9.5vmin;}
  #description {font-size:5vmin;}
  #education {
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.25rem;
    }
    img {
      height: 9rem;
    }
  }
  .carousel-item {
    h2 {
      font-size: 1.58rem;
    }
    h6 {
      font-size: 0.85rem;
    }
  }
  #url-shortener-btn,
  #wikibooks-btn,
  #tip-calc-btn {
    position: absolute;
    bottom: 19px;
  }
}

@media (min-width: 768px) and (orientation: portrait){
  #name {font-size:9vmin;}
  #description {font-size:4.7vmin;}
}
 
/* Large devices (large tablets, width: 992px and up) */
@media (min-width: 992px) {
  #name {font-size:9vmin;}
  #description {font-size:4.4vmin;}
  .carousel-item h2 {
    font-size: 2rem;
  }
  #url-shortener-btn,
  #groceryquest-btn,
  #wikibooks-btn,
  #tip-calc-btn {
    position: absolute;
    bottom: 19px;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #name {font-size:9.1vmin;}
  #description {font-size:4.8vmin;}
}

/* Extra large devices (any laptop or desktop, width: 1200px and up) */
@media (min-width: 1200px) {  
  #name {font-size:8.95vmin;}
  #description {font-size:4.7vmin;}
}

@media (min-width: 1200px) and (max-aspect-ratio: 15/10) {
  #name {font-size:7.1vmin;}
  #description {font-size:3.8vmin;}
}